html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" type="text/css" href="./tachyons.min.css")
  body(class="bg-light-gray")
    div(id='cryptotithe')
    script var exports = {};
    script(src='./react.js')